.bg-yellow {
    background-color: yellow;
}

.bg-blue {
    background-color: pink;
}

.center {
    text-align: center;
    border-width: 1px;
    border-color: brown;
}

.bg-green {
    background-color: greenyellow;
}